<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="UTF-8" />
			<title>
				{% block title %}
					{{ 'sharif_calendar'|trans|humanize }}
				{% endblock %}
			</title>
			{% block stylesheets %}
			{% endblock stylesheets %}
			<link rel="icon" type="image/x-icon"
					href="{{ asset('favicon.ico') }}" />
		{% endblock head %}
	</head>
	<body>
		{% block body %}{% endblock body %}
		{% block javascripts %}{% endblock javascripts %}
	</body>
</html>
